body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    color: white;
}

.col-md-2 {
    color: silver;
}